/Assets/item_full
/Assets/background Images/acacia_planks.png
/Assets/background Images/ancient_debris_side.png
/Assets/background images/bamboo_planks.png
/Assets/background images/birch_planks.png
/Assets/background images/cherry_planks.png
/Assets/background images/crimson_planks.png
/Assets/background images/dark_oak_planks.png
/Assets/background images/dirt.png
/Assets/background images/jungle_planks.png
/Assets/background images/mangrove_planks.png
/Assets/background images/oak_planks.png
/Assets/background images/quartz_block_side.png
/Assets/background images/spruce_planks.png
/Assets/background images/warped_planks.png
/Data/items2_full.js